.ig {
    width: 100%;
    height: 200px;
}

.close {
    right: -27px;
    top: -39px;
    border-radius: 50%;
    width: 35px;
    background: transparent;
    height: 35px;
    border: 1px solid transparent;
    position: absolute;

    span {
        font-size: 35px;
    }

}

.modal-body {
    padding: 0 !important;
    
    height: 92vh;
}