/* You can add global styles to this file, and also import other style files */

app-product-left-sidebar .owl-carousel .owl-stage-outer {
    height: 450px !important;
}

.modal-dialog {
    max-width:  70% !important;
    width:  70% !important;
}

.header-tools .main-menu .brand-logo {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}